
.container-fluid{
    background-color: #36A7E3;

}

.quemsomos{
    background-color: #EF8F21;
}
.margin{
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 70px;

}
h5{
    padding-top: 20px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parceiros{
    
    margin-top: -100px;
}
.servicos{
    background-color: #6CB146;
}
#servicos{
    margin-bottom: -50px;
}
.rodape{
    background-color: burlywood;
    margin-bottom: 1rem;
    border: 1px black solid;
}

